label{
    display: block;
}
.ysb-form-001{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background: grey;
    text-align: center;
}
.ysb-span-001{
    font-size: 18px;
}
.ysb-input-001{
    width: 180px;
    height: 30px;
    margin-top: 90px;
}
.ysb-input-002{
    width: 180px;
    height: 30px;
    margin-top: 20px;
}
.ysb-btn-001{
    width: 60px;
    height: 30px;
    font-size: 14px;
    background: gainsboro;
    margin-top: 10px;
    margin-left: 70px;
}
.ysb-btn-002{
    width: 60px;
    height: 30px;
    font-size: 14px;
    background: gainsboro;
    margin-top: 10px;
    margin-left: 80px;
}
.ysb-form-002{
    
        width: 500px;
        height: 300px;
        margin: 0 auto;
        background: grey;
        text-align: center
    
}
.ysb-input-003{
    width: 180px;
    height: 30px;
    margin-top: 90px;
}
.ysb-input-004{
    width: 180px;
    height: 30px;
    margin-top: 20px;
}
.ysb-login{
    width: 180px;
    height: 30px;
    margin-top: 20px;
    background: gainsboro;
    line-height: 20px;
    font-size: 16px;
}