.t-box{
    width: 633px;
    height:480px;
    background: gray;
    margin: 0 auto;
    font-size:12px;
}
.shuru{
    width: 493px;
    height:33px;
  
}
label{
    display:block;
    margin:20px 0px 0px 50px;
}